<!-- *** web *** -->


<div class="md-max:hidden grid grid-cols-10">
    <div class="col-span-2"></div>
    <div class="col-span-6 grid grid-cols-2 gap-10">
        <div class=" h-[200px]  ">
            <div>
                <img class="size-full" src="/assets/benifits.svg" alt="">
            </div>
        </div>
        <div class=" h-[200px]">
            <div>
                <img class="size-full" src="/assets/calandar.svg" alt="">
            </div>
        </div>
        <div class=" h-[250px]">
            <div>
                <img class="size-full" src="/assets/wifi.svg" alt="">
            </div>
        </div>
        <div class=" h-[250px]">
            <div>
                <img class="size-full" src="/assets/pic fitness.svg" alt="">
            </div>
        </div>
    </div>
    <div class="col-span-2"></div>
</div>



<!-- *** mobile *** -->


<div class=" md:hidden grid grid-cols-10">
    <div class="col-span-2"></div>
    <div class="col-span-6 grid grid-cols-1 gap-10">
        <div class=" h-[100px]  ">
            <div>
                <img class="size-full" src="/assets/benifits.svg" alt="">
            </div>
        </div>
        <div class=" h-[100px]">
            <div class="size-full  ">
                <div>
                    <img class="size-full" src="/assets/calandar.svg" alt="">
                </div>
            </div>
        </div>
        <div class=" h-[100px]">
            <div class="size-full  ">
                <div>
                    <img class="size-full" src="/assets/wifi.svg" alt="">
                </div>
            </div>
        </div>
        <div class=" h-[100px]">
            <div class="h-[100px]  ">
                <div>
                    <img class="size-full" src="/assets/pic fitness.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-2"></div>
</div>