<!-- *** web *** -->

<div class="grid grid-cols-12 divide-x">
    <div class="col-span-1"></div>
    <div class="grid grid-cols-3 h-auto gap-5 p-5 col-span-10 md-max:grid-cols-1 md-max:h-auto">
        <div class="">
            <div class="absolute size-[100px] flex justify-center items-center">
                <div class="bg-red-700 w-[70px] h-[70px] font-bold text-white grid justify-center items-center">
                    <div>Day</div>
                    <div>01</div>
                </div>
            </div>

            <div class="bg-purple-500 h-[200px] ">
                <img class="size-full" src="/assets/background fitness offer.jpg" alt="">
            </div>

            <div class=" w-full h-[50px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[25px] xl-max:text-[15px] ">Chest & Triceps</div>
                <div class="font-serif text-[15px] xl-max:text-[10px] text-slate-600">( Body Building )</div>
            </div>

            <div class=" w-full h-[30px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[10px] flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/time-left.svg" alt="">
                    </div>
                    <div class="text-slate-500">
                        Saturday
                    </div>
                    <div class="text-slate-500">
                        7:00
                    </div>
                </div>
                <div class="font-serif text-[10px] text-slate-600 flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/person.svg" alt="">
                    </div>
                    <div>
                        mehdi nmili
                    </div>
                </div>
            </div>

            <div class="font-bold p-5 gap-4">
                Cheat :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit.</div>
            </div>

            <div class="font-bold p-5 gap-4">
                Tricops :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="p-5">
                <div
                    class="bg-red-600  w-full h-[70px] flex justify-center items-center text-white font-serif hover:bg-black">
                    View Expernise Plans
                </div>
            </div>

        </div>
        <div class="">
            <div class="absolute size-[100px] flex justify-center items-center">
                <div class="bg-red-700 w-[70px] h-[70px] font-bold text-white grid justify-center items-center">
                    <div>Day</div>
                    <div>02</div>
                </div>
            </div>

            <div class="bg-purple-500 h-[200px]">
                <img class="size-full" src="/assets/background fitness 2.webp" alt="">
            </div>

            <div class=" w-full h-[50px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[25px] xl-max:text-[15px] ">Chest & Triceps</div>
                <div class="font-serif text-[15px] xl-max:text-[10px] text-slate-600">( Body Building )</div>
            </div>

            <div class=" w-full h-[30px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[10px] flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/time-left.svg" alt="">
                    </div>
                    <div class="text-slate-500">
                        Saturday
                    </div>
                    <div class="text-slate-500">
                        7:00
                    </div>
                </div>
                <div class="font-serif text-[10px] text-slate-600 flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/person.svg" alt="">
                    </div>
                    <div>
                        mehdi nmili
                    </div>
                </div>
            </div>

            <div class="font-bold p-5 gap-4">
                Cheat :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit.</div>
            </div>

            <div class="font-bold p-5 gap-4">
                Tricops :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="p-5">
                <div
                    class="bg-red-600  w-full h-[70px] flex justify-center items-center text-white font-serif hover:bg-black">
                    View Expernise Plans
                </div>
            </div>


        </div>
        <div class="">
            <div class="absolute size-[100px] flex justify-center items-center">
                <div class="bg-red-700 w-[70px] h-[70px] font-bold text-white grid justify-center items-center">
                    <div>Day</div>
                    <div>01</div>
                </div>
            </div>

            <div class="bg-purple-500 h-[200px]">
                <img class="size-full" src="/assets/background man 1.jpg" alt="">
            </div>

            <div class=" w-full h-[50px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[25px] xl-max:text-[15px] ">Chest & Triceps</div>
                <div class="font-serif text-[15px] xl-max:text-[10px] text-slate-600">( Body Building )</div>
            </div>

            <div class=" w-full h-[30px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[10px] flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/time-left.svg" alt="">
                    </div>
                    <div class="text-slate-500">
                        Saturday
                    </div>
                    <div class="text-slate-500">
                        7:00
                    </div>
                </div>
                <div class="font-serif text-[10px] text-slate-600 flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/person.svg" alt="">
                    </div>
                    <div>
                        mehdi nmili
                    </div>
                </div>
            </div>

            <div class="font-bold p-5 gap-4">
                Cheat :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit.</div>
            </div>

            <div class="font-bold p-5 gap-4">
                Tricops :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="p-5">
                <div
                    class="bg-red-600  w-full h-[70px] flex justify-center items-center text-white font-serif hover:bg-black">
                    View Expernise Plans
                </div>
            </div>

        </div>
    </div>
    <div class="col-span-1"></div>