<div class="bg-black text-white ">

    <!-- web -->
    <div class="hidden 2xl:grid grid-cols-10 h-auto">
        <div class=" col-span-1"></div>
        <div class=" col-span-2 p-8">
            <div>
                <img src="/assets/logo-fitness.svg" class="size-[100px]">
            </div>
            <div class="mt-7">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quasi, quod numquam modi, quam similique ea sunt officiis
                odit impedit eius unde totam libero voluptatum
                doloremque veniam. Eum impedit qui voluptatibus!
            </div>
            <div class="bg-red-600 w-[200px] h-[50px] flex justify-center items-center mt-5">
                PURCHAGE NOW
            </div>
        </div>
        <div class=" col-span-2 p-8">
            <div class="font-bold text-[25px]">
                QUICK LINKS
            </div>
            <div class="grid grid-cols-2 mt-20">
                <div>mobile</div>
                <div>web</div>
                <div>applecation</div>
                <div>mobile </div>
                <div>pathon</div>
                <div>cars</div>
                <div>design</div>
                <div>mobile</div>
                <div>web</div>
                <div>applecation </div>
                <div>mobile </div>
                <div>pathon</div>
                <div>cars</div>
                <div>design</div>

            </div>
        </div>
        <div class=" col-span-2 p-8">
            <div class="font-bold text-[25px] pb-20">RECENT NEWS</div>
            <div class="flex gap-10 pb-8">
                <div class="bg-white w-[80px] h-[80px]">
                    <img src="/assets/background fitness offer.jpg" class="size-full">
                </div>
                <div>
                    <div class="font-bold text-[15px]">Lorem ipsum dolor sit.</div>
                    <div class="font-bold text-[15px]">margin koo hello sit.</div>
                    <div class="font-serif text-[12px]">margin koo hello sit.</div>
                </div>
            </div>
            <div class="flex gap-10 pb-8">
                <div class="bg-black w-[80px] h-[80px]">
                    <img src="/assets/background fitness offer.jpg" class="size-full">
                </div>
                <div>
                    <div class="font-bold text-[15px]">Lorem ipsum dolor sit.</div>
                    <div class="font-bold text-[15px]">margin koo hello sit.</div>
                    <div class="font-serif text-[12px]">margin koo hello sit.</div>
                </div>
            </div>
            <div class="flex gap-10 pb-8">
                <div class="bg-black w-[80px] h-[80px]">
                    <img src="/assets/background fitness offer.jpg" class="size-full">
                </div>
                <div>
                    <div class="font-bold text-[15px]">Lorem ipsum dolor sit.</div>
                    <div class="font-bold text-[15px]">margin koo hello sit.</div>
                    <div class="font-serif text-[12px]">margin koo hello sit.</div>
                </div>
            </div>
        </div>
        <div class="col-span-2 p-8">
            <div class="font-bold text-[25px] pb-20">CONTACT US</div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-phone-50.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-web-80.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-phone-50.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-phone-50.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>
        </div>
        <div class=" col-span-1"></div>

    </div>

     <!-- mobile -->
     <div class="2xl:hidden grid gap-5 p-10 ">
        <div class="">
            <div>
                <img src="/assets/logo-fitness.svg" class="size-[100px]">
            </div>
            <div class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quasi, quod numquam modi, quam similique ea sunt officiis
                odit impedit eius unde totam libero voluptatum
                doloremque veniam. Eum impedit qui voluptatibus!
            </div>
            <div class="bg-red-600 w-[200px] h-[50px] flex justify-center items-center mt-5">
                PURCHAGE NOW
            </div>
        </div>
        <div class="">
            <div class="font-bold text-[25px]">
                QUICK LINKS
            </div>
            <div class="grid grid-cols-2 mt-20">
                <div>mobile</div>
                <div>web</div>
                <div>applecation</div>
                <div>mobile </div>
                <div>pathon</div>
                <div>cars</div>
                <div>design</div>
                <div>mobile</div>
                <div>web</div>
                <div>applecation </div>
                <div>mobile </div>
                <div>pathon</div>
                <div>cars</div>
                <div>design</div>

            </div>
        </div>
        <div class="">
            <div class="font-bold text-[25px] pb-20">RECENT NEWS</div>
            <div class="flex gap-10 pb-8">
                <div class="bg-white w-[80px] h-[80px]">
                    <img src="/assets/background fitness offer.jpg" class="size-full">
                </div>
                <div>
                    <div class="font-bold text-[15px]">Lorem ipsum dolor sit.</div>
                    <div class="font-bold text-[15px]">margin koo hello sit.</div>
                    <div class="font-serif text-[12px]">margin koo hello sit.</div>
                </div>
            </div>
            <div class="flex gap-10 pb-8">
                <div class="bg-black w-[80px] h-[80px]">
                    <img src="/assets/background fitness offer.jpg" class="size-full">
                </div>
                <div>
                    <div class="font-bold text-[15px]">Lorem ipsum dolor sit.</div>
                    <div class="font-bold text-[15px]">margin koo hello sit.</div>
                    <div class="font-serif text-[12px]">margin koo hello sit.</div>
                </div>
            </div>
            <div class="flex gap-10 pb-8">
                <div class="bg-black w-[80px] h-[80px]">
                    <img src="/assets/background fitness offer.jpg" class="size-full">
                </div>
                <div>
                    <div class="font-bold text-[15px]">Lorem ipsum dolor sit.</div>
                    <div class="font-bold text-[15px]">margin koo hello sit.</div>
                    <div class="font-serif text-[12px]">margin koo hello sit.</div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="font-bold text-[25px] pb-20">CONTACT US</div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-phone-50.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-web-80.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-phone-50.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>

            <div class="flex items-center gap-4 pb-8">
                <div>
                    <img src="/assets/icons8-phone-50.png" class="size-[25px]">
                </div>
                <div class="font-serif text-[12px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi,
                    culpa?</div>
            </div>
        </div>

    </div>

    <!-- web -->

    <div class="hidden md:grid grid-cols-10 h-[50px]">
        <div class=" col-span-1"></div>
        <div class="bg-red-500 flex justify-between  items-center  col-span-8 rounded-tl-full rounded-tr-full">
            <div class="pl-10"> @ 2023 NMFitness Desctanse by Mehdi Nmili</div>
            <div class="flex items-center pr-10 gap-5">
                <div><img src="/assets/icons8-web-80.png" class="size-[30px]"></div>
                <div><img src="/assets/icons8-phone-50.png" class="size-[30px]"></div>
                <div><img src="/assets/icons8-phone-50.png" class="size-[30px]"></div>


            </div>
        </div>
        <div class=" col-span-1"></div>
    </div>

    <!-- mobile -->

    <div class="md:hidden bg-red-500 h-[100px] grid  justify-center items-center">
        <div class=" text-[10px]"> @ 2023 NMFitness Desctanse by Mehdi Nmili</div>
        <div class="flex items-center  gap-5">
            <div><img src="/assets/icons8-web-80.png" class="size-[30px]"></div>
            <div><img src="/assets/icons8-phone-50.png" class="size-[30px]"></div>
            <div><img src="/assets/icons8-phone-50.png" class="size-[30px]"></div>


        </div>
    </div>
</div>