<!--/// page1 /// -->

<!-- *** web *** -->

<div class="md-max:hidden relative">
    <div class=" absolute inset-0 ">
        <div class="bg-orange-600 relative w-full h-[400px]">
            <img class="relative  size-full" src="/assets/background fitenss .jpeg" alt="">
        </div>
        <div class="bg-blue-500 w-screen max-h-full"></div>
    </div>
    <div class="  relative inset-0 grid grid-cols-10">
        <!-- **** grid 2-->
        <div class="h-[300px] col-span-10"></div>

        <!-- **** grid 2-->
        <div class="col-span-1"></div>
        <img class=" col-span-4 size-full" src="/assets/background fitness offer.jpg" alt="">
        <img class="col-span-4  size-full" src="/assets/background fitness 2.webp" alt="">
        <div class="col-span-1"></div>
    </div>
</div>


<!-- *** mobile *** -->


<div class="md:hidden relative p-5 ">
    <!-- *** web *** -->
    <div id="custom-controls-gallery" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="/assets/background fitenss .jpeg"
                    class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
                <img src="/assets/background fitness offer.jpg"
                    class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="/assets/background fitness 2.webp"
                    class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
            </div>
        </div>
        <div class="flex justify-center items-center pt-4">
            <button type="button"
                class="flex justify-center items-center me-4 h-full cursor-pointer group focus:outline-none"
                data-carousel-prev>
                <span
                    class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                    <svg class="rtl:rotate-180 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 5H1m0 0 4 4M1 5l4-4" />
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button"
                class="flex justify-center items-center h-full cursor-pointer group focus:outline-none"
                data-carousel-next>
                <span
                    class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white">
                    <svg class="rtl:rotate-180 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
    </div>
</div>



<!--/// page2 /// -->

<!-- *** web mobile *** -->
<div class="flex justify-between items-center p-[60px] gap-8">
    <div class="bg-red-600 w-[300px] h-[20px]"></div>
    <div class="text-[20px] font-bold">BENIFITS OF FINTNESS CARE GYM</div>
    <div class="bg-red-600 w-[300px] h-[20px]"></div>
</div>


<!-- *** web *** -->


<div class="md-max:hidden grid grid-cols-10">
    <div class="col-span-2"></div>
    <div class="col-span-6 grid grid-cols-2 gap-10">
        <div class=" h-[200px]  ">
            <div>
                <img class="size-full" src="/assets/benifits.svg" alt="">
            </div>
        </div>
        <div class=" h-[200px]">
                <div>
                    <img class="size-full" src="/assets/calandar.svg" alt="">
                </div>
        </div>
        <div class=" h-[250px]">
                <div>
                    <img class="size-full" src="/assets/wifi.svg" alt="">
                </div>
        </div>
        <div class=" h-[250px]">
                <div>
                    <img class="size-full" src="/assets/pic fitness.svg" alt="">
                </div>
        </div>
    </div>
    <div class="col-span-2"></div>
</div>



<!-- *** mobile *** -->


<div class=" md:hidden grid grid-cols-10">
    <div class="col-span-2"></div>
    <div class="col-span-6 grid grid-cols-1 gap-10">
        <div class=" h-[100px]  ">
            <div>
                <img class="size-full" src="/assets/benifits.svg" alt="">
            </div>
        </div>
        <div class=" h-[100px]">
            <div class="size-full  ">
                <div>
                    <img class="size-full" src="/assets/calandar.svg" alt="">
                </div>
            </div>
        </div>
        <div class=" h-[100px]">
            <div class="size-full  ">
                <div>
                    <img class="size-full" src="/assets/wifi.svg" alt="">
                </div>
            </div>
        </div>
        <div class=" h-[100px]">
            <div class="h-[100px]  ">
                <div>
                    <img class="size-full" src="/assets/pic fitness.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-2"></div>
</div>

<div>
    <div>
        <img class=" w-full" src="/assets/background man .svg" alt="">
    </div>
</div>

<!--/// page3 /// -->

<!-- *** web mobile *** -->
<div class="flex justify-between items-center p-[60px] gap-8">
    <div class="bg-red-600 w-[300px] h-[20px]"></div>
    <div class="text-[20px] font-bold">BENIFITS OF FINTNESS CARE GYM</div>
    <div class="bg-red-600 w-[300px] h-[20px]"></div>
</div>


<!-- *** web *** -->

<div class="grid grid-cols-12 divide-x">
    <div class="col-span-1"></div>
    <div class="grid grid-cols-3 h-auto gap-5 p-5 col-span-10 md-max:grid-cols-1 md-max:h-auto">
        <div class="">
            <div class="absolute size-[100px] flex justify-center items-center">
                <div class="bg-red-700 w-[70px] h-[70px] font-bold text-white grid justify-center items-center">
                    <div>Day</div>
                    <div>01</div>
                </div>
            </div>

            <div class="bg-purple-500 h-[200px] ">
                <img class="size-full" src="/assets/background fitness offer.jpg" alt="">
            </div>

            <div class=" w-full h-[50px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[25px] xl-max:text-[15px] ">Chest & Triceps</div>
                <div class="font-serif text-[15px] xl-max:text-[10px] text-slate-600">( Body Building )</div>
            </div>

            <div class=" w-full h-[30px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[10px] flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/time-left.svg" alt="">
                    </div>
                    <div class="text-slate-500">
                        Saturday
                    </div>
                    <div class="text-slate-500">
                        7:00
                    </div>
                </div>
                <div class="font-serif text-[10px] text-slate-600 flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/person.svg" alt="">
                    </div>
                    <div>
                        mehdi nmili
                    </div>
                </div>
            </div>

            <div class="font-bold p-5 gap-4">
                Cheat :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit.</div>
            </div>

            <div class="font-bold p-5 gap-4">
                Tricops :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="p-5">
                <div
                    class="bg-red-600  w-full h-[70px] flex justify-center items-center text-white font-serif hover:bg-black">
                    View Expernise Plans
                </div>
            </div>

        </div>
        <div class="">
            <div class="absolute size-[100px] flex justify-center items-center">
                <div class="bg-red-700 w-[70px] h-[70px] font-bold text-white grid justify-center items-center">
                    <div>Day</div>
                    <div>02</div>
                </div>
            </div>

            <div class="bg-purple-500 h-[200px]">
                <img class="size-full" src="/assets/background fitness 2.webp" alt="">
            </div>

            <div class=" w-full h-[50px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[25px] xl-max:text-[15px] ">Chest & Triceps</div>
                <div class="font-serif text-[15px] xl-max:text-[10px] text-slate-600">( Body Building )</div>
            </div>

            <div class=" w-full h-[30px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[10px] flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/time-left.svg" alt="">
                    </div>
                    <div class="text-slate-500">
                        Saturday
                    </div>
                    <div class="text-slate-500">
                        7:00
                    </div>
                </div>
                <div class="font-serif text-[10px] text-slate-600 flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/person.svg" alt="">
                    </div>
                    <div>
                        mehdi nmili
                    </div>
                </div>
            </div>

            <div class="font-bold p-5 gap-4">
                Cheat :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit.</div>
            </div>

            <div class="font-bold p-5 gap-4">
                Tricops :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="p-5">
                <div
                    class="bg-red-600  w-full h-[70px] flex justify-center items-center text-white font-serif hover:bg-black">
                    View Expernise Plans
                </div>
            </div>


        </div>
        <div class="">
            <div class="absolute size-[100px] flex justify-center items-center">
                <div class="bg-red-700 w-[70px] h-[70px] font-bold text-white grid justify-center items-center">
                    <div>Day</div>
                    <div>01</div>
                </div>
            </div>

            <div class="bg-purple-500 h-[200px]">
                <img class="size-full" src="/assets/background man 1.jpg" alt="">
            </div>

            <div class=" w-full h-[50px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[25px] xl-max:text-[15px] ">Chest & Triceps</div>
                <div class="font-serif text-[15px] xl-max:text-[10px] text-slate-600">( Body Building )</div>
            </div>

            <div class=" w-full h-[30px] flex  items-center p-5 gap-4">
                <div class="font-bold text-[10px] flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/time-left.svg" alt="">
                    </div>
                    <div class="text-slate-500">
                        Saturday
                    </div>
                    <div class="text-slate-500">
                        7:00
                    </div>
                </div>
                <div class="font-serif text-[10px] text-slate-600 flex gap-3 items-center">
                    <div>
                        <img class="size-4" src="/assets/person.svg" alt="">
                    </div>
                    <div>
                        mehdi nmili
                    </div>
                </div>
            </div>

            <div class="font-bold p-5 gap-4">
                Cheat :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem, ipsum dolor sit amet consectetur adipisicing.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit.</div>
            </div>

            <div class="font-bold p-5 gap-4">
                Tricops :
            </div>

            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet.</div>
            </div>
            <div class="flex items-center pl-5 gap-4">
                <img class="size-4" src="/assets/cheak.svg" alt="">
                <div class="text-slate-500 font-serif">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="p-5">
                <div
                    class="bg-red-600  w-full h-[70px] flex justify-center items-center text-white font-serif hover:bg-black">
                    View Expernise Plans
                </div>
            </div>

        </div>
    </div>
    <div class="col-span-1"></div>


</div>